@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width:100%;
    background-color: #ffffff;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#181A18;
    margin-bottom: 30px;
}

.container{
    padding-left: 80px;
    padding-right: 80px;
}

/* Navigation section */

nav{
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    width:100%;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    line-height: 24px;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.menu-btn {
    display: none;
}


/* Hero Section */

.hero-section{
    display: flex;
    background-image: url("../images/smiling-couple.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 140px;
    padding-bottom: 291px;
}


.hero-section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #ffffff;
    width: 493px;
    border-radius: 0px 60px 60px 0px;
    padding-top: 60px ;
    padding-bottom: 60px;
    gap: 32px;

}

.hero-section-content h1{
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
}

.hero-section-content p {
    font-size: 18px;
    line-height: 24px;
    width: 95%;
}


/* Future Section */

.future {
    padding-top: 170px;
}
.future-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 auto ;
    width: 100%;
    max-width: 1440px;
    border-radius: 60px;
    overflow: hidden;
}

.future-images-box img {
    width: 100%;
    height: 100%;
}

.future-images-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    height: 100%;
    
}

.future-text-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 120px 80px 120px 80px;
    gap: 32px;
    background-color: #f2f0f2;
}

.future-text-box h6 {
    font-size: 16px;
    line-height: 20px;
}
.future-text-box h1{
    font-size: 48px;
    line-height: 54px;
    
}


/* Features Section */

.features{
    padding-top: 140px;
}

.features-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;  
    width: 100%;
}

.feature-text {
    display: flex;
    flex-direction: column;
    max-width: 850px;
    width: 100%;
    gap: 16px;
}
.feature-text h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
}

.feature-text p{
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.feature-icon{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.box {
    width: 100%;
    background-color: #E2F1E8;
    border-radius: 30px;
    padding: 40px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.box i {
    font-weight: bolder;
    font-size: 60px;
}

.box h4 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

.box p {
    font-size: 16px;
    line-height: 20px;
}


/* 1024 Screen */

/* @media only screen and (max-width: 1023.99px){ */
@media (max-width: 1024px){
    .container{
        padding-left: 40px;
        padding-right: 40px;
    }

    .future-box{
        display: grid;
        grid-template-columns: 1fr;
    }

    .feature-icon{
        grid-template-columns: repeat(2, 1fr);
    }
    
    
} 

/* Tablet */

@media (max-width: 768px){
    .container{
        padding-left: 40px;
        padding-right: 40px;
    }

    .menu {
        display: flex;
    }

    .future-box{
        display: grid;
        grid-template-columns: 1fr;
    }

    .feature-icon{
        grid-template-columns: repeat(2, 1fr);
    }
    
    
} 


/* For Mobile */

@media only screen and (max-width: 767.99px){
    .container{
        padding-left: 16px;
        padding-right: 16px;
    }

    .menu {
        display: none;
    }

    .menu-btn {
        display: block;

    }

    .hero-section {
        padding-right: 16px;
        padding-top: 20px;
        padding-bottom: 496px;

    }

    .hero-section-content.container {
        padding: 32px;
        gap: 16px;
    }

    .hero-section-content h1 {
        font-size: 40px;
        line-height: 46px;
    }

    .future {
        padding-top: 80px;
    }
    .features {
        padding-top: 80px;
    }

    .feature-icon{
        grid-template-columns:  1fr;
    }
    
    
}



